html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to left, #2e2d2d, #353535);  */
    font-family: Arial, sans-serif;
    
}

.body {
    margin: 0;
    padding: 0;
}

#myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        filter: blur(5px); /* Apply blur effect */
        background: no-repeat;
        background-size: cover;
    }

.header {
    color: #f5f0f0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    a:link {
        text-decoration: none;
        color: cyan;
      }
      a:visited {
        text-decoration: none;
        color: cyan;
      }
}

.footer {
    color: #f5f0f0;
    padding: 10px;
    text-align: center;
}

.about {
    /*background: linear-gradient(to right, #5e5d5d, #060606); */
    color: #f5f0f0;
    padding: 10px;
    display: flex; /* Display items side by side */
    gap: 2rem; /* Add space between items */
}
.about-content {
    padding: 10px;
    text-align: center; /* Align text to the left */
    flex: 1; /* Take up remaining space */
}
.about-image {
    display: flex; /* Display images side by side */
    padding: 10px;
    border-radius: 4px;
    width: 310px; /* Adjust width to fit both images */
    height: 210px; /* Set a fixed height */
    overflow: hidden; /* Hide overflow */
    box-shadow: 0 5px 10px rgb(4, 216, 248); /* Add shadow to the image */
}
.about-image img {
    width: 100%; /* Each image takes up half the width */
    height: 100%;
    object-fit: cover; /* Crop the image to fit the div */
    border: 2px solid #6d6b6b; /* Add border to each image */
    box-sizing: border-box; /* Include border in the element's total width and height */
    
}

